:root {
  --cell-size: 80px;
  --gap-size: 5px;
  --border-radius: 5px;

  /* --display-color: steelblue;
  --digit-color: steelblue;
  --operation-color: slategrey;
  --command-color: rgb(115, 146, 115); */

  /* --display-color: steelblue;
  --digit-color: steelblue;
  --operation-color: rgb(77, 129, 129);
  --command-color: rgb(115, 146, 115); */

  /* --display-color: rgb(60, 112, 156);
  --digit-color: rgb(60, 112, 156);
  --operation-color: rgb(77, 129, 129);
  --command-color: rgb(167, 134, 52); */

  --display-color: rgb(60, 112, 156);
  --digit-color: rgb(60, 112, 156);
  --operation-color: rgb(77, 129, 129);
  --command-color: rgb(167, 145, 90);

  --background-color: rgb(31, 34, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, var(--cell-size));
  grid-template-rows: repeat(6, var(--cell-size));
  gap: var(--gap-size);
}

.cell {
  border-radius: var(--border-radius);
  cursor: default;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  border: 2px solid white;
}

.command {
  background-color: var(--command-color);
}

.digit {
  background-color: var(--digit-color);
}

.operator {
  background-color: var(--operation-color);
}

.label {
  color: white;
  font-family: sans-serif;
  font-size: 2rem;
}

#display {
  grid-area: 1 / 1 / 1 / 5;
  background-color: var(--display-color);

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
